appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
defusedxml==0.7.1
distlib==0.3.1
Django==3.0.7
django-allauth==0.41.0
django-dispatch==1.0.1
django-ip==1.0.2
django-pg-utils==0.1.5
django-queryset-csv==1.1.0
django-six==1.0.4
django-taggit==1.3.0
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.17
idna==3.1
logzero==1.7.0
oauthlib==3.1.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
requests-oauthlib==1.3.0
six==1.16.0
smmap==4.0.0
sqlparse==0.4.1
tldextract==2.2.2
toml==0.10.2
tox==3.23.1
unicodecsv==0.14.1
urllib3==1.26.5
virtualenv==20.4.7
django-debug-toolbar==3.2.1