<p>
    <i>Built and maintained by <a href="https://kaopass.kaoblog.dev">kaopass</a>.</i>
</p>
<small>
    <a href="https://github.com/kaopass/kaoblog/wiki/Privacy-Policy" target="_blank">Privacy Policy</a> |
    <a href="https://github.com/kaopass/kaoblog/wiki/Terms-of-Service" target="_blank">Terms of Service</a> |
    <a href="https://github.com/kaopass/kaoblog/" target="_blank">Github</a> |
    <a href="https://github.com/kaopass/kaoblog/wiki/" target="_blank">Docs</a> |
    <a href="https://github.com/kaopass/kaoblog/wiki/Roadmap" target="_blank">Roadmap</a>
</small>